*{
    padding: 0%;
    margin: 0%;
}
.diferente{
    color: rgb(155, 155, 155);
    display: flex;
    width: 600px;
    margin-top: -20px;
}


.img{
    display: flex;
    align-items: baseline;
}

li a {

    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 25px;
  }
  
  ul {
    display: flex;
    /*ativa a propriedade de alinhamento*/
  justify-content:center;
    /*coloca os elementos na horizontal*/
  }
  
  li {
    list-style: none;
    /*remove os pontos das lista*/
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;    
    
  }

  .btn{
    background-color: #EB662B;
    border-radius: 55px;
    height: 44px;
    width: 83.3px;
    border: none;
    color: #ffffff;
    

  }
  .banner {
    height: 630px;
    width: 1600px;
    background-image: url("./assents/Section.png");
    /*ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  
    
  }

  .section-banner{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: #ffffff;
  }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   